.section-about {
    background-color: $color-white-medium-dark;
    margin-top: -12vh;
    padding: 15rem 18rem 10rem 18rem;
    transform: skewY(-7deg);


    & > * {
        transform: skewY(7deg);
    }

    .about {
        display: flex;
        text-align: center;

        .container {
            
        }

        &__img {
            height: 30rem;
            width: 30rem;
            border-radius: 50%;
        }

        &__desc {
            align-self: center;
            margin-top: -4rem;
            margin-left: 10rem;
            width: 100%;
        }
    }
}