.section-about {
    background-color: $color-white-medium-dark;
    margin-top: -12vh;
    height: 65vh;
    padding: 20rem 5rem;
    transform: skewY(-6deg);


    & > * {
        transform: skewY(6deg);
    }
}