@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 70%;

        // @media only screen and (max-width: $bp-largest) {
        //     width: 60%;
        // }
    }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: $color-white; }
}

